.header{
    background: purple;
    display: flex;
    padding: 5px;
}
.contenido{
    margin-top: 20px;
}
.footer{
    background: gray;
    height: 20px;
}
.titulo{
    margin-left: 10px;
    color: white;
    font-size: large;
} 
.logo{
    width: 40px;
    border-radius: 5px;
}