.header{
    background: purple;
    height: 20px;
}
.contenido{
    margin-top: 20px;
}
.footer{
    background: gray;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 600px;
}